# Mental Health in Tech Project

## Data Sets

[OSMI Survey on Mental Health in the Tech Workplace in 2014](https://www.kaggle.com/osmi/mental-health-in-tech-survey) 

["Ongoing" OSMI survey from 2016](https://data.world/kittybot/osmi-mental-health-tech-2016)


## Questions

What factors are most signficant in influencing whether or not a person believes disclosing a mental health issue would have negative consequences?

Can we predict, based on publicly available features of a person and company, whether that person is likely to beleive disclosing a mental health issue would be harmful for their career?

## Exploring and Cleaning 2014 Data

See cleaning.ipynb

In [3]:
import pandas as pd

In [4]:
df14 = pd.read_csv("./datasets/2014/mental-health-in-tech-2014.csv")
print df14.shape
# df14.head(3)

(1259, 27)

In [5]:
# standardize columns to have lowercase names
df14.rename(columns={'Age': 'age', 'Gender': 'gender', 'Country': 'country', 'Timestamp': 'timestamp'}, inplace=True)
# replace confusing no_employees column name
df14.rename(columns={'no_employees': 'num_employees'}, inplace=True)

In [6]:
df_original = pd.read_csv("./datasets/2014/osmi-mental-health-in-tech-original.csv")
print df_original.shape
# print df_original.columns   # original questions/fields

(1259, 27)

<details><summary> Click to expand all **original questions/fields** </summary>
    
- Timestamp   
- Age  
- Gender   
- Country  
- If you live in the United States, which state or territory do you live in?  
- Are you self-employed?  
- Do you have a family history of mental illness?  
- Have you sought treatment for a mental health condition?  
- If you have a mental health condition, do you feel that it interferes with your work?  
- How many employees does your company or organization have?  
- Do you work remotely (outside of an office) at least 50% of the time?  
- Is your employer primarily a tech company/organization?  
- Does your employer provide mental health benefits?  
- Do you know the options for mental health care your employer provides?  
- Has your employer ever discussed mental health as part of an employee wellness program?  
- Does your employer provide resources to learn more about mental health issues and how to seek help?  
- Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?  
- How easy is it for you to take medical leave for a mental health condition?  
- Do you think that discussing a mental health issue with your employer would have negative consequences?  
- Do you think that discussing a physical health issue with your employer would have negative consequences?  
- Would you be willing to discuss a mental health issue with your coworkers?  
- Would you be willing to discuss a mental health issue with your direct supervisor(s)?  
- Would you bring up a mental health issue with a potential employer in an interview?  
- Would you bring up a physical health issue with a potential employer in an interview?  
- Do you feel that your employer takes mental health as seriously as physical health?  
- Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?  
- Any additional notes or comments
</details>

In [7]:
# create reference to look up questions based on column names
column_names = df14.columns
questions = df_original.columns
col_question_map = { 
    column_names[i]: questions[i] for i in range(df_original.shape[1]-1) 
}

# for example:
col_question_map['mental_vs_physical']

'Do you feel that your employer takes mental health as seriously as physical health?'

#### Load Cleaned Data

In [8]:
df = pd.read_csv("./datasets/2014/clean-mental-health-in-tech-2014.csv", index_col=0)
print df.shape

(1259, 183)

In [9]:
# quick NaN check
counts = df.count()
numrows = df.shape[0]
for col in df.columns:
    if counts[col] != numrows:
        print "{0} has {1} NaNs".format(col, numrows-counts[col])

age has 8 NaNs
state has 515 NaNs
self_employed has 18 NaNs
work_interfere has 264 NaNs
comments has 1095 NaNs

In [10]:
df.head(2)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,num_employees,...,phys_health_consequence_no,phys_health_consequence_yes,leave_dont_know,leave_somewhat_difficult,leave_somewhat_easy,leave_very_difficult,leave_very_easy,gender_category_female,gender_category_male,gender_category_other
0,2014-08-27 11:29:31,37.0,Female,United States,IL,NaN,0,1,often,6-25,...,1,0,0,0,1,0,0,1,0,0
1,2014-08-27 11:29:37,44.0,M,United States,IN,NaN,0,0,rarely,1000+,...,1,0,1,0,0,0,0,0,1,0

## Charts

In [13]:
import matplotlib.pyplot as plt
% matplotlib inline

In [74]:
col_question_map['mental_health_consequence']

'Do you think that discussing a mental health issue with your employer would have negative consequences?'

In [105]:
tdf = df.dropna(subset=['self_employed', 'age'])
print tdf.shape
total_y = tdf['mental_health_consequence']

(1233, 183)

In [106]:
# col_question_map

In [107]:
# information not explicitly related to mental health
employer_cols = ['self_employed', 'country', 'tech_company', 'num_employees']
person_cols = ['age', 'gender_category']
X_cols = employer_cols+person_cols

In [108]:
total_X = tdf[X_cols].copy()
total_X.head(2)

,self_employed,country,tech_company,num_employees,age,gender_category
18,yes,United States,1,1-5,46.0,male
19,yes,France,1,6-25,36.0,male

In [109]:
mhc_labels = total_y.copy()  # mental_health_consequence labels
mhc_labels.replace(to_replace={'no': 0, 'maybe': 1, 'yes': 2}, inplace=True)
mhc_labels.head()

18    0
19    0
20    1
21    0
22    1
Name: mental_health_consequence, dtype: int64

In [110]:
countries = total_X['country'].unique()
country_dict = {countries[i]: i for i in range(len(countries))}
print country_dict

{'Canada': 3, 'Brazil': 12, 'Italy': 19, 'Czech Republic': 44, 'Costa Rica': 14, 'France': 1, 'Georgia': 42, 'Ireland': 16, 'Nigeria': 35, 'Norway': 37, 'Israel': 30, 'Australia': 8, 'Singapore': 33, 'Slovenia': 13, 'Germany': 9, 'Bosnia and Herzegovina': 31, 'Belgium': 25, 'Thailand': 38, 'Philippines': 45, 'Spain': 27, 'Netherlands': 5, 'Denmark': 39, 'Poland': 7, 'Finland': 28, 'Moldova': 41, 'United States': 0, 'Sweden': 21, 'Latvia': 23, 'Croatia': 36, 'Japan': 34, 'Switzerland': 6, 'Uruguay': 29, 'New Zealand': 26, 'Russia': 10, 'Bulgaria': 20, 'Romania': 24, 'Portugal': 4, 'Mexico': 11, 'South Africa': 18, 'India': 17, 'United Kingdom': 2, 'Austria': 15, 'China': 43, 'Colombia': 22, 'Greece': 40, 'Hungary': 32}

In [111]:
employee_nums = total_X['num_employees'].unique()
employee_num_dict = {employee_nums[i]: i for i in range(len(employee_nums))}
print employee_num_dict

{'26-100': 3, '1-5': 0, '6-25': 1, '100-500': 2, '500-1000': 5, '1000+': 4}

In [112]:
totX = total_X.replace({
    'self_employed': {'yes': 2, 'no': 0},
    'gender_category': {'female': 0, 'other': 1, 'male': 2},
    'country': country_dict,
    'num_employees': employee_num_dict
})

In [113]:
totX

,self_employed,country,tech_company,num_employees,age,gender_category
18,2,0,1,0,46.0,2
19,2,1,1,1,36.0,2
20,0,0,1,2,29.0,2
21,2,0,1,0,31.0,2
22,0,0,1,3,46.0,2
23,0,0,0,4,41.0,2
24,0,0,1,3,33.0,2
25,0,0,0,4,35.0,2
26,0,0,1,0,33.0,2
27,0,0,1,1,35.0,0
28,0,0,1,3,34.0,2
29,0,2,1,1,37.0,2
30,0,2,1,1,32.0,2
31,2,0,1,0,31.0,2
32,0,2,1,5,30.0,2
33,0,0,1,3,42.0,2
34,0,0,1,0,40.0,0
35,0,0,1,1,27.0,2
36,0,3,1,0,29.0,2
37,0,4,1,2,38.0,2
38,0,0,1,2,50.0,2
39,0,0,1,4,35.0,2
40,0,2,1,1,24.0,2
41,0,0,1,4,35.0,2
42,0,3,1,0,27.0,2
43,0,5,1,1,18.0,2
44,0,0,1,3,30.0,2
45,0,0,1,3,38.0,0
46,0,2,1,3,28.0,2
47,0,0,1,1,34.0,2
...,...,...,...,...,...,...
1229,0,40,1,1,39.0,2
1230,0,2,1,1,23.0,0
1231,2,2,1,1,24.0,2
1232,0,2,0,4,25.0,2
1233,0,2,1,1,23.0,2
1234,0,2,0,1,24.0,1
1235,0,3,1,3,23.0,2
1236,0,0,1,4,60.0,2
1237,0,16,1,3,28.0,2
1238,0,0,0,4,28.0,2
1239,0,5,1,5,30.0,2
1240,0,9,1,2,31.0,2
1241,2,7,1,1,31.0,2
1242,0,16,1,3,28.0,2
1243,0,0,1,4,43.0,0
1244,0,2,0,4,32.0,0
1245,0,8,0,2,22.0,2
1246,0,0,1,2,32.0,2
1247,0,28,1,1,36.0,2
1248,0,0,1,3,41.0,0
1249,0,0,1,3,30.0,2
1250,2,0,1,3,30.0,2
1251,0,18,0,2,36.0,2
1252,0,0,1,2,29.0,2
1253,0,0,0,4,36.0,2
1254,0,2,1,3,26.0,2
1255,0,0,1,3,32.0,2
1256,0,0,1,4,34.0,2
1257,0,0,1,2,46.0,0
1258,0,0,0,3,25.0,2

In [116]:
# quick NaN check
counts = totX.count()
numrows = totX.shape[0]
for col in totX.columns:
    if counts[col] != numrows:
        print "{0} has {1} NaNs".format(col, numrows-counts[col])

In [117]:
dtree.fit(totX, total_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [136]:
# from IPython import display
# from sklearn import datasets, tree, utils
# from sklearn.externals.six import StringIO  
# import pydotplus
# from sklearn import tree


# clf = tree.DecisionTreeClassifier()
# clf.fit(totX, total_y)

# tree_clf = dtree

# # Generate a plot of the decision tree
# dot_data = StringIO() 
# tree.export_graphviz(tree_clf, 
#                      class_names = total_y.tolist(),
#                      feature_names = totX.columns.tolist(), out_file=dot_data, 
#                     filled=True, ) 
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 

# display.Image(graph.create_png())

# Random Forest

In [138]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 20)
    
model.fit(totX, total_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [148]:

# # This is all that's needed for scikit-plot
# import matplotlib.pyplot as plt
# from scikitplot import classifier_factory

# classifier_factory(model)

# model.plot_roc_curve(totX.as_matrix(), total_y, random_state=2)
# plt.show()

In [149]:
features = X.columns
feature_importances = model.feature_importances_

features_df = pd.DataFrame({'Features': features, 'Importance Score': feature_importances})
features_df.sort_values(by='Importance Score', inplace=True, ascending=False)

features_df.head()

        Features  Importance Score
4            age          0.571472
1        country          0.221640
3  num_employees          0.134009
5         gender          0.027561
2   tech_company          0.027027