Potential resource(s):
http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_digits.html#sphx-glr-auto-examples-cluster-plot-kmeans-digits-py

# Mental Health in Tech Project

## Data Sets

[OSMI Survey on Mental Health in the Tech Workplace in 2014](https://www.kaggle.com/osmi/mental-health-in-tech-survey) 

["Ongoing" OSMI survey from 2016](https://data.world/kittybot/osmi-mental-health-tech-2016)


## Questions

What factors are most signficant in influencing whether or not a person believes disclosing a mental health issue would have negative consequences?

Can we predict, based on publicly available features of a person and company, whether that person is likely to beleive disclosing a mental health issue would be harmful for their career?

## Exploring and Cleaning 2014 Data

In [1]:
import pandas as pd

In [2]:
df14 = pd.read_csv("./datasets/2014/clean-no-dummies-2014.csv", index_col=0)
df14['year'] = '2014'
print df14.shape
df14.head(3)

(1259, 29)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,num_employees,...,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,gender_category,year
0,2014-08-27 11:29:31,37.0,Female,United States,IL,NaN,no,1,often,6-25,...,no,some_of_them,yes,no,maybe,yes,0,NaN,female,2014
1,2014-08-27 11:29:37,44.0,M,United States,IN,NaN,no,0,rarely,1000+,...,no,no,no,no,no,dont_know,0,NaN,male,2014
2,2014-08-27 11:29:44,32.0,Male,Canada,NaN,NaN,no,0,rarely,6-25,...,no,yes,yes,yes,yes,no,0,NaN,male,2014

In [3]:
df16 = pd.read_csv("./datasets/2016/clean-no-dummies-2016.csv", index_col=0)
df16['year'] = '2016'
print df16.shape
df16.head(3)

(1433, 67)

,self_employed,num_employees,tech_company,tech_role,benefits,care_options,wellness_program,seek_help,anonymity,leave,...,live_in_country,live_in_state,work_in_country,work_in_state,position,remote_work,gender_category,state,country,year
0,0,26-100,1.0,NaN,doesnt_apply,NaN,no,no,dont_know,very_easy,...,united_kingdom,NaN,united_kingdom,NaN,Back-end Developer,sometimes,male,NaN,United Kingdom,2016
1,0,6-25,1.0,NaN,no,yes,yes,yes,yes,somewhat_easy,...,united_states,il,united_states,il,Back-end Developer|Front-end Developer,never,male,il,United States,2016
2,0,6-25,1.0,NaN,no,NaN,no,no,dont_know,neither_easy_nor_difficult,...,united_kingdom,NaN,united_kingdom,NaN,Back-end Developer,always,male,NaN,United Kingdom,2016

In [4]:
# print df14.columns
# print df16.columns
colset14 = set(df14.columns)
colset16 = set(df16.columns)
print colset14 - colset16
print colset16 - colset14

set(['timestamp', 'work_interfere', 'comments'])
set(['hurt_career', 'revealed_contacts', 'prev_coworkers', 'current_believed_conditions', 'prev_mental_health_consequence', 'mental_health_interview_comment', 'reluctant_due_to_obs', 'insurance', 'prev_seek_help', 'work_in_state', 'past_disorder', 'prev_employer', 'professional_diagnosed', 'prev_benefits', 'friends_family', 'prev_supervisor', 'revealed_coworkers', 'professional_diagnoses', 'prev_phys_health_consequence', 'tech_role', 'live_in_state', 'viewed_negatively', 'current_diagnosed_conditions', 'work_interfere_untreated', 'percent_time_impacted', 'prev_wellness_program', 'know_resources', 'productivity_impacted', 'revealed_contacts_consequence', 'prev_anonymity', 'current_disorder', 'obs_negative_response', 'work_interfere_treated', 'revealed_coworkers_consequence', 'prev_mental_vs_physical', 'prev_obs_consequence', 'phys_health_interview_comment', 'live_in_country', 'prev_care_options', 'work_in_country', 'position'])

#### NaN Check

In [5]:
# print '2014 data'
# counts = df14.count()
# numrows = df14.shape[0]
# for col in df14.columns:
#     if counts[col] != numrows:
#         print "{0} has {1} NaNs".format(col, numrows-counts[col])
        
# print '\n2016 data'
# counts = df16.count()
# numrows = df16.shape[0]
# for col in df16.columns:
#     if counts[col] != numrows:
#         print "{0} has {1} NaNs".format(col, numrows-counts[col])

In [6]:
df16.head(1)

,self_employed,num_employees,tech_company,tech_role,benefits,care_options,wellness_program,seek_help,anonymity,leave,...,live_in_country,live_in_state,work_in_country,work_in_state,position,remote_work,gender_category,state,country,year
0,0,26-100,1.0,NaN,doesnt_apply,NaN,no,no,dont_know,very_easy,...,united_kingdom,NaN,united_kingdom,NaN,Back-end Developer,sometimes,male,NaN,United Kingdom,2016

In [7]:
df14.head(1)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,num_employees,...,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,gender_category,year
0,2014-08-27 11:29:31,37.0,Female,United States,IL,NaN,no,1,often,6-25,...,no,some_of_them,yes,no,maybe,yes,0,NaN,female,2014

In [8]:
df14[df14['country']=="United States"].shape[0]

751

In [13]:
# usdf16 = df16[df16['work_in_country']=="united_states_of_america"]
# usdf16 = usdf16[usdf16['live_in_country']=="united_states"]
# usdf16['live_in_country'].value_counts()
usdf16 = df16[df16['country'] == 'United States'].copy()
usdf16.shape

(837, 67)

In [14]:
usdf16.rename(columns={'work_in_country': 'country'}, inplace=True)
usdf16.shape

(837, 67)

In [21]:
usdf16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 1 to 1431
Data columns (total 67 columns):
self_employed                      837 non-null int64
num_employees                      708 non-null object
tech_company                       708 non-null float64
tech_role                          169 non-null float64
benefits                           708 non-null object
care_options                       682 non-null object
wellness_program                   708 non-null object
seek_help                          708 non-null object
anonymity                          708 non-null object
leave                              708 non-null object
mental_health_consequence          708 non-null object
phys_health_consequence            708 non-null object
coworkers                          708 non-null object
supervisor                         708 non-null object
mental_vs_physical                 708 non-null object
obs_consequence                    708 non-null float64
insurance                          129 non-null float64
know_resources                     129 non-null object
revealed_contacts                  129 non-null object
revealed_contacts_consequence      68 non-null object
revealed_coworkers                 129 non-null object
revealed_coworkers_consequence     129 non-null object
productivity_impacted              129 non-null object
percent_time_impacted              99 non-null object
prev_employer                      837 non-null int64
prev_benefits                      752 non-null object
prev_care_options                  752 non-null object
prev_wellness_program              752 non-null object
prev_seek_help                     752 non-null object
prev_anonymity                     752 non-null object
prev_mental_health_consequence     752 non-null object
prev_phys_health_consequence       752 non-null object
prev_coworkers                     752 non-null object
prev_supervisor                    752 non-null object
prev_mental_vs_physical            752 non-null object
prev_obs_consequence               752 non-null object
phys_health_interview              837 non-null object
phys_health_interview_comment      672 non-null object
mental_health_interview            837 non-null object
mental_health_interview_comment    698 non-null object
hurt_career                        837 non-null object
viewed_negatively                  837 non-null object
friends_family                     837 non-null object
obs_negative_response              798 non-null object
reluctant_due_to_obs               389 non-null object
family_history                     837 non-null object
past_disorder                      837 non-null object
current_disorder                   837 non-null object
current_diagnosed_conditions       387 non-null object
current_believed_conditions        176 non-null object
professional_diagnosed             837 non-null int64
professional_diagnoses             468 non-null object
treatment                          837 non-null int64
work_interfere_treated             837 non-null object
work_interfere_untreated           837 non-null object
age                                835 non-null float64
gender                             835 non-null object
live_in_country                    837 non-null object
live_in_state                      837 non-null object
country                            837 non-null object
work_in_state                      837 non-null object
position                           837 non-null object
remote_work                        837 non-null object
gender_category                    837 non-null object
state                              837 non-null object
country                            837 non-null object
year                               837 non-null object
dtypes: float64(5), int64(4), object(58)
memory usage: 444.7+ KB

In [18]:
usdf14 = df14[df14['country']=="United States"].copy()
usdf14.shape

(751, 29)

In [20]:
usdf = pd.concat([usdf14, usdf16])
# usdf['country'] = "United States"
# usdf['country'].value_counts(dropna=False)
# usdf.head(2)

AssertionError: invalid dtype determination in get_concat_dtype

In [ ]:
usdf['treatment'].value_counts(dropna=False)

In [ ]:
usdf['work_interfere'].value_counts(dropna=False)

In [ ]:
usdf['work_interfere_treated'].value_counts(dropna=False)

In [ ]:
usdf['work_interfere_untreated'].value_counts(dropna=False)

In [ ]:
def work_interfere_category (row):
    if row['work_interfere'] == 'never' or row['work_interfere_treated'] == 'never' or row['work_interfere_untreated'] == 'never'  :
        return 0
    elif row['work_interfere'] == 'doesnt_apply' or row['work_interfere_treated'] == 'doesnt_apply' or row['work_interfere_untreated'] == 'doesnt_apply':
        return nan
    return 1

In [ ]:
# df.apply(work_interfere_category, axis=1).value_counts(dropna=False)

In [ ]:
usdf['mental_health_consequence'].value_counts(dropna=False)

In [ ]:
usdf[['mental_health_consequence', 'age']].groupby('age').describe()

In [ ]:
usdf.info()