# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `police shootings` dataset using `pandas`.

In [4]:
import pandas as pd
import os

In [50]:
killings = pd.read_csv(os.path.join('..', '..', 'dataset', 'police-killings.csv'))
killings.head()

,Unnamed: 0,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,lawenforcementagency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930
3,3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,South Gate Police Department,Gunshot,Firearm,55909
4,4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Kent Police Department,Gunshot,No,49669

#### A) Starter question: Display a few lines of the dataset to the screen.

In [59]:
df = killings.copy()
df.head(3)

,Unnamed: 0,name,age,gender,race,month,day,year,streetaddress,city,state,agency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930


#### 1. Make the following changed to column names:

+ lawenforcementagency -> agency
+ raceethnicity        -> race

In [60]:
col_names = df.columns.values
col_names[4] = 'race'
col_names[11] = 'agency'
# print col_names
df.columns = col_names
df.head(2)

,Unnamed: 0,name,age,gender,race,month,day,year,streetaddress,city,state,agency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930


#### 2. Show the count of missing values in each column

In [61]:
df.isnull().sum()

Unnamed: 0       0
name             0
age              0
gender           0
race             0
month            0
day              0
year             0
streetaddress    4
city             0
state            0
agency           0
cause            0
armed            0
county_income    0
dtype: int64

#### 3. replace each null value in the dataframe with the string "Unknown"

In [73]:
e = df.copy()
e.fillna('Unknown')
e.head()

,Unnamed: 0,name,age,gender,race,month,day,year,streetaddress,city,state,agency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930
3,3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,South Gate Police Department,Gunshot,Firearm,55909
4,4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Kent Police Department,Gunshot,No,49669

#### 4. How many killings were there so far in 2015?

In [121]:
e[e['year']==2015].shape[0]

467

#### 5. Of all killings, how many were male and how many female?

In [86]:
e.groupby('gender').size()

gender
Female     22
Male      445
dtype: int64

#### 6. How many killings were of unarmed people?

In [95]:
num_unarmed = e[e['armed']=='No'].shape[0]
print num_unarmed

102

#### 7. What percentage of all killings were unarmed?

In [99]:
float(100*num_unarmed)/len(e)

21.841541755888652

#### 8. What are the 5 states with the most killings?

In [129]:
# e.groupby('state', sort='True').count()['Unnamed: 0']
# TODO - not sorting

state
AK     2
AL     8
AR     4
AZ    25
CA    74
CO    12
CT     1
DC     1
DE     2
FL    29
GA    16
HI     4
IA     2
ID     4
IL    11
IN     8
KS     6
KY     7
LA    11
MA     5
MD    10
ME     1
MI     9
MN     6
MO    10
MS     6
MT     2
NC    10
NE     6
NH     1
NJ    11
NM     5
NV     3
NY    14
OH    10
OK    22
OR     8
PA     7
SC     9
TN     6
TX    46
UT     5
VA     9
WA    11
WI     5
WV     2
WY     1
Name: Unnamed: 0, dtype: int64

#### 9. Show a value counts of deaths for each race

In [132]:
e.groupby('race').count()

,Unnamed: 0,name,age,gender,month,day,year,streetaddress,city,state,agency,cause,armed,county_income
race,,,,,,,,,,,,,,
Asian/Pacific Islander,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Black,135,135,135,135,135,135,135,134,135,135,135,135,135,135
Hispanic/Latino,67,67,67,67,67,67,67,66,67,67,67,67,67,67
Native American,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Unknown,15,15,15,15,15,15,15,15,15,15,15,15,15,15
White,236,236,236,236,236,236,236,234,236,236,236,236,236,236

#### 10. Display a histogram of ages of all killings

#### 11. Show 6 histograms of ages by race

#### 12. What is the average age of death by race?

In [142]:
mean_death_ages = e.groupby('race')['age'].mean()

#### 13. Show a bar chart with counts of deaths every month

In [144]:
# mean_death_ages.plot()