Potential resource(s):
http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_digits.html#sphx-glr-auto-examples-cluster-plot-kmeans-digits-py

# Mental Health in Tech Project

## Data Sets

[OSMI Survey on Mental Health in the Tech Workplace in 2014](https://www.kaggle.com/osmi/mental-health-in-tech-survey) 

["Ongoing" OSMI survey from 2016](https://data.world/kittybot/osmi-mental-health-tech-2016)


## Questions

What factors are most signficant in influencing whether or not a person believes disclosing a mental health issue would have negative consequences?

Can we predict, based on publicly available features of a person and company, whether that person is likely to beleive disclosing a mental health issue would be harmful for their career?

## Exploring and Cleaning 2014 Data

In [1]:
import pandas as pd

In [2]:
df14 = pd.read_csv("./datasets/2014/clean-no-dummies-2014.csv", index_col=0)
df14['year'] = '2014'
print df14.shape
df14.head(3)

(1259, 29)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,num_employees,...,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,gender_category,year
0,2014-08-27 11:29:31,37.0,Female,United States,IL,NaN,0,1,often,6-25,...,no,some_of_them,yes,no,maybe,yes,0,NaN,female,2014
1,2014-08-27 11:29:37,44.0,M,United States,IN,NaN,0,0,rarely,1000+,...,no,no,no,no,no,dont_know,0,NaN,male,2014
2,2014-08-27 11:29:44,32.0,Male,Canada,NaN,NaN,0,0,rarely,6-25,...,no,yes,yes,yes,yes,no,0,NaN,male,2014

In [3]:
df16 = pd.read_csv("./datasets/2016/clean-no-dummies-2016.csv", index_col=0)
df16['year'] = '2016'
print df16.shape
df16.head(3)

(1433, 65)

,self_employed,num_employees,tech_company,tech_role,benefits,care_options,wellness_program,seek_help,anonymity,leave,...,age,gender,live_in_country,live_in_state,work_in_country,work_in_state,position,remote_work,gender_category,year
0,0,26-100,1.0,NaN,doesnt_apply,NaN,no,no,dont_know,very_easy,...,39.0,Male,united_kingdom,NaN,united_kingdom,NaN,Back-end Developer,sometimes,male,2016
1,0,6-25,1.0,NaN,no,yes,yes,yes,yes,somewhat_easy,...,29.0,male,united_states,illinois,united_states_of_america,illinois,Back-end Developer|Front-end Developer,never,male,2016
2,0,6-25,1.0,NaN,no,NaN,no,no,dont_know,neither_easy_nor_difficult,...,38.0,Male,united_kingdom,NaN,united_kingdom,NaN,Back-end Developer,always,male,2016

In [4]:
# print df14.columns
# print df16.columns
colset14 = set(df14.columns)
colset16 = set(df16.columns)
print colset14 - colset16
print colset16 - colset14

set(['timestamp', 'state', 'work_interfere', 'comments', 'country'])
set(['hurt_career', 'revealed_contacts', 'prev_coworkers', 'prev_mental_health_consequence', 'mental_health_interview_comment', 'reluctant_due_to_obs', 'insurance', 'prev_seek_help', 'work_in_state', 'past_disorder', 'prev_employer', 'professional_diagnosed', 'prev_benefits', 'friends_family', 'diagnosed_conditions', 'prev_supervisor', 'revealed_coworkers', 'professional_diagnoses', 'prev_phys_health_consequence', 'tech_role', 'live_in_state', 'viewed_negatively', 'work_interfere_untreated', 'percent_time_impacted', 'prev_wellness_program', 'know_resources', 'believed_conditions', 'productivity_impacted', 'revealed_contacts_consequence', 'prev_anonymity', 'current_disorder', 'obs_negative_response', 'work_interfere_treated', 'revealed_coworkers_consequence', 'prev_mental_vs_physical', 'prev_obs_consequence', 'phys_health_interview_comment', 'live_in_country', 'prev_care_options', 'work_in_country', 'position'])

In [5]:
df = pd.concat([df14, df16])

### Chart Imports & config

In [6]:
import matplotlib
%matplotlib inline
plt = matplotlib.pyplot

### Age

Plan: 
- group by age
- get frequency of mental health yes/no/maybe for each age group
- plot frequencies (y) by age (x)

In [8]:
df14.groupby('age')
# PL
# for key,grp in df14.groupby('age'):
#     print key
#     print grp['mental_health_consequence'].value_counts()

# df2 = df14.groupby(['age'])['mental_health_consequence'].count()#.unstack('Abuse/NFF').fillna(0)
# df2[['mental_health_consequence','age']].plot(kind='bar')
# df2.plot(kind='bar')

In [25]:
df14.head(2)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,num_employees,...,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,gender_category,year
0,2014-08-27 11:29:31,37.0,Female,United States,IL,NaN,0,1,often,6-25,...,no,some_of_them,yes,no,maybe,yes,0,NaN,female,2014
1,2014-08-27 11:29:37,44.0,M,United States,IN,NaN,0,0,rarely,1000+,...,no,no,no,no,no,dont_know,0,NaN,male,2014