### Problem solving exercise

+ Because I love burritos we're analyzing a chipotle dataset! 

+ The goal is to string together the skills we've worked on over the last few months

#### RULES

+ I will not be giving out answers! (ok maybe some hints if you get *really* stuck) 
+ You will solve this together as a class
+ When someone figures something out, they can come to the board and present their solution to the class
    + Alternative solutions can also be presented
    
##### REWARDS:
+ There will be a happy hour after this class
+ Students with the most accurate models will be eligible to vote on the bar we go to!
    + Any models with accuracy within a 5% of the most accurate model  
    + So if the best model is 82.2%, we'll also select anyone with accuracy greater than 78.1%
+ Student who presents the most solutions presented to the class will get a free drink! (or alternative if you don't drink) 
    + No ties! Only one student can win this!


### Outline:

#### Cleaning Data

+ We only briefly covered cleaning data
+ You'll need to rely more on google and logic than class notes here
+ Cleaning data is something you just need to learn by doing
+ After cleaning, we'll run a machine learning algorithm to predict the price of an order

#### Preprocessing & ML 

+ We've covered this in class, but this time you're really driving the ship
+ Get your data into the right format, then start training your algorithm!

### That's it! GO FOR IT! 
+ I believe in all of you!

In [1]:
import pandas as pd
import re

### First import your dataset

+ hint - examine how the values are separated 
+ What's the difference between a tsv and csv?

In [2]:
### Code here
path = '../../DS-SF-32/lessons/lesson-18/chipotle.tsv'
df = pd.read_csv(path,sep='\t')

In [3]:
df.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

## Next, clean up "choice description"

+ What do the values look like? 
+ We're going to plug this into count vectorizer, later
+ How can we clean this up?

+ Check out a package called "re" for regular expressions
+ there are multiple ways to solve this problem

In [4]:
df['choice_description'].value_counts(dropna=False)

NaN                                                                                                                    1246
[Diet Coke]                                                                                                             134
[Coke]                                                                                                                  123
[Sprite]                                                                                                                 77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                   42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                        40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                     36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                            33
[Lemonade]                                                                                                               33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                                29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                                        28
[Coca Cola]                                                                                                              26
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                            26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                                               25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]                                                                         23
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]                                                 22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]                                                                          22
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                    21
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                21
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                             21
[Nestea]                                                                                                                 20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                         20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Lettuce]]                                                                     20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                     20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                 19
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                  19
[Dr. Pepper]                                                                                                             18
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                            17
[Fresh Tomato Salsa, [Cheese, Lettuce]]                                                                                  17
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]                                                                 17
                                                                                                                       ...
[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Black Beans, Cheese, Lettuce]]                                             1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Cheese, Lettuce]]                                                 1
[Fresh Tomato Salsa, [Sour Cream, Lettuce, Cheese, Rice]]                                                                 1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                  1
[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]        1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese, Guacamole]]       1
[Fresh Tomato Salsa (Mild), [Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                     1
[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Sour Cream, Lettuce]]                                     1
[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]                                                          1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegetables]]                                                                     1
[Fresh Tomato Salsa, [Lettuce, Fajita Vegetables, Guacamole, Rice, Black Beans]]                                          1
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Rice, Cheese, Guacamole]]                                                 1
[Fresh Tomato Salsa (Mild), [Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                              1
[Tomatillo-Green Chili Salsa (Medium), [Black Beans, Rice, Cheese, Sour Cream, Guacamole]]                                1
[Rice]                                                                                                                    1
[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Cheese, Lettuce]]                    1
[Roasted Chili Corn Salsa (Medium), [Cheese, Sour Cream]]                                                                 1
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]            1
[Fresh Tomato Salsa (Mild), [Rice, Fajita Veggies, Cheese, Guacamole]]                                                    1
[Roasted Chili Corn Salsa, [Cheese, Guacamole, Lettuce]]                                                                  1
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]                                1
[Tomatillo-Red Chili Salsa (Hot), [Sour Cream, Cheese, Fajita Veggies, Guacamole, Rice, Pinto Beans]]                     1
[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Lettuce]]                                 1
[Tomatillo-Red Chili Salsa (Hot), [Rice, Black Beans, Cheese]]                                                            1
[Fresh Tomato (Mild), [Black Beans, Guacamole, Rice, Sour Cream, Cheese]]                                                 1
[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]          1
[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese]]                                          1
[Tomatillo-Red Chili Salsa (Hot), [Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                        1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole]]                                  1
[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream, Guacamole, Lettuce]]                                                     1
Name: choice_description, dtype: int64

In [5]:
df['choice_description'].unique()

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'], dtype=object)

In [6]:
### code here
choice = '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]'
def clean_choice(c):
    if type(c) == float:
        return c
    return get_choice_arr(c)

def get_choice_arr(c):
#     d = c[1:-1]
    d = re.sub(r'\[+', '', c)
    d = re.sub(r'\]+', '', d)
    a = d.split(', ')
    return d
    
cl = clean_choice(choice)
print type(cl)
print cl

<type 'str'>
Fresh Tomato Salsa, Rice, Black Beans, Cheese

In [7]:
d2 = df.head(5).copy()
d2.choice_description = d2.choice_description.map(lambda x: clean_choice(x))
d2

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98

In [8]:
# create an array that includes all choices
import numpy as np
type(d2['choice_description'])
cd = 'choice_description'
u = d2[cd].unique()
# print u
l = [np.nan]
for s in u:
#     print type(s)
    if type(s) != str:
        pass
    else:
        a = s.split(', ')
#         print a
        l = l + a
l

[nan,
 'Clementine',
 'Apple',
 'Tomatillo-Red Chili Salsa (Hot)',
 'Black Beans',
 'Rice',
 'Cheese',
 'Sour Cream']

In [9]:
def get_strlist_col_unique(data, cd):
    # create an array that includes all choices from strings
#     cd = 'choice_description'
    uniq_strs = data[cd].unique()
    uniq = [np.nan]
    for s in uniq_strs:
        if type(s) != str:
            pass
        else:
            a = s.split(', ')
            uniq = uniq + a
    return uniq


# df.choice_description = df.choice_description.map(lambda x: clean_choice(x))
# get_strlist_col_unique(df, cd)

In [10]:
# d2['Apple'] = 0
# def set_choice(row):
#     if type(row['choice_description']) == float:
#         return 0
#     elif 'Apple' in row['choice_description']:
#         return 1
#     else:
#         return 0
# d2['Apple'] = d2.apply(set_choice, axis=1)
# d2['Apple']        
# d2['choice_description']

In [11]:
d2['choice_description']

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: choice_description, dtype: object

In [12]:
def set_row_for_choice(data, choice):
    def set_choice(row):
        if type(row['choice_description']) == float:
            return 0
        elif choice in row['choice_description']:
            return 1
        else:
            return 0
    col = "choice_" + choice
    data[col] = 0
    data[col] = data.apply(set_choice, axis=1)
    return data[col] 
set_row_for_choice(d2, 'Apple')
d2[['choice_description','choice_Apple']]

                                  choice_description  choice_Apple
0                                                NaN             0
1                                         Clementine             0
2                                              Apple             1
3                                                NaN             0
4  Tomatillo-Red Chili Salsa (Hot), Black Beans, ...             0

In [13]:
set_row_for_choice(d2, 'Black Beans')
d2

,order_id,quantity,item_name,choice_description,item_price,choice_Apple,choice_Black Beans
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,0,0
1,1,1,Izze,Clementine,$3.39,0,0
2,1,1,Nantucket Nectar,Apple,$3.39,1,0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,0,0
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98,0,1

In [14]:
for ch in l:
    if type(ch) == str:
        print ch
        set_row_for_choice(d2, ch)
d2

Clementine
Apple
Tomatillo-Red Chili Salsa (Hot)
Black Beans
Rice
Cheese
Sour Cream

,order_id,quantity,item_name,choice_description,item_price,choice_Apple,choice_Black Beans,choice_Clementine,choice_Tomatillo-Red Chili Salsa (Hot),choice_Rice,choice_Cheese,choice_Sour Cream
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,0,0,0,0,0,0,0
1,1,1,Izze,Clementine,$3.39,0,0,1,0,0,0,0
2,1,1,Nantucket Nectar,Apple,$3.39,1,0,0,0,0,0,0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,0,0,0,0,0,0,0
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98,0,1,0,1,1,1,1

In [15]:
df.choice_description = df.choice_description.map(lambda x: clean_choice(x))

In [16]:
unique_choices = get_strlist_col_unique(df, 'choice_description')
print len(unique_choices)

5547

In [17]:

# for ch in unique_choices:
#     if type(ch) == str:
# #         print ch
#         set_row_for_choice(df, ch)
# df.head(3)

### Next, clean up "item price" 

+ What can you do here? 
+ This will be our outcome variable
+ How can we make this easier to read?

In [18]:
### code here
def dollar_to_float(string):
    return float(re.sub(r'\$','', str(string)))

# print dollar_to_float('$2.99')

df.item_price = df.item_price.map(lambda x: dollar_to_float(x))
df.item_price.head(2)

0    2.39
1    3.39
Name: item_price, dtype: float64

In [19]:
### code here

### Now Preprocess your data! 

+ Use a vectorizer of your choice!

+ Consider a dimension reduction technique! 

    + PCA? SVD? LDA?

In [20]:
## code here
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2))
d3 = df[df[cd].notnull()].copy()
choices = d3[cd].fillna('')
cv.fit(choices)
# titles = data['title']
X = cv.transform(choices)
print cv.vocabulary_
X

{u'cheese': 28, u'hot tomatillo': 100, u'mild fajita': 129, u'lettuce cheese': 104, u'mild': 126, u'roasted': 163, u'chicken': 38, u'tomatillo green': 185, u'cola': 53, u'cilantro': 47, u'beans black': 10, u'salsa hot': 170, u'medium sour': 124, u'cherry': 37, u'rice guacamole': 158, u'veggies cheese': 202, u'black': 18, u'vegetables sour': 197, u'rice tomatillo': 162, u'rice': 153, u'mild cheese': 128, u'beans lettuce': 14, u'salsa sour': 176, u'lettuce guacamole': 106, u'medium black': 115, u'mild pinto': 132, u'rice sour': 161, u'beans pinto': 15, u'carnitas pinto': 27, u'braised': 21, u'dr': 69, u'hot black': 90, u'mild lettuce': 131, u'beans sour': 17, u'fajita': 71, u'medium fresh': 118, u'and grilled': 3, u'blackberry': 20, u'hot lettuce': 95, u'fajita veggies': 73, u'sour cream': 178, u'cream black': 58, u'beans rice': 16, u'cream lettuce': 62, u'chili corn': 43, u'medium guacamole': 119, u'cheese cilantro': 30, u'grilled chicken': 80, u'peach orange': 143, u'adobo': 0, u'mild guacamole': 130, u'dr pepper': 70, u'corn medium': 55, u'pinto beans': 148, u'vegetables rice': 196, u'beans guacamole': 13, u'cheese guacamole': 32, u'tomato salsa': 189, u'diet dr': 68, u'chicken pinto': 39, u'medium rice': 122, u'mild sour': 135, u'hot cheese': 91, u'rice lettuce': 159, u'medium roasted': 123, u'lettuce rice': 108, u'red': 151, u'adobo marinated': 1, u'rice black': 155, u'pepper': 144, u'salsa pinto': 174, u'corn': 54, u'vegetables pinto': 195, u'corn salsa': 56, u'grilled': 79, u'cheese rice': 35, u'vegetables cheese': 192, u'diet coke': 67, u'medium pinto': 121, u'medium fajita': 117, u'beans fajita': 12, u'cheese lettuce': 33, u'cheese sour': 36, u'chicken sour': 40, u'vegetarian': 198, u'lime rice': 111, u'apple': 4, u'beans': 9, u'fresh tomato': 75, u'steak pinto': 181, u'cream fajita': 60, u'guacamole lettuce': 85, u'braised barbacoa': 22, u'cheese black': 29, u'steak salsa': 182, u'coca cola': 51, u'guacamole': 82, u'mild black': 127, u'lettuce fajita': 105, u'nestea': 139, u'hot fajita': 92, u'medium cheese': 116, u'lettuce': 102, u'mountain dew': 138, u'barbacoa pinto': 7, u'lime': 110, u'hot fresh': 93, u'barbacoa vegetarian': 8, u'tomato mild': 188, u'brown rice': 25, u'vegetables': 190, u'rice pinto': 160, u'mild tomatillo': 136, u'salsa medium': 172, u'barbacoa': 6, u'veggies rice': 206, u'grapefruit': 76, u'white': 208, u'white rice': 209, u'banana': 5, u'pomegranate cherry': 150, u'salsa cheese': 167, u'tomato': 187, u'medium': 114, u'vegetables lettuce': 194, u'veggies pinto': 205, u'cream cheese': 59, u'coke': 52, u'cilantro lime': 48, u'cream rice': 63, u'orange': 140, u'black beans': 19, u'salsa guacamole': 169, u'chili': 42, u'tomatillo red': 186, u'vegetables black': 191, u'cheese pinto': 34, u'dew': 65, u'beans cheese': 11, u'chicken vegetarian': 41, u'veggies guacamole': 203, u'lemonade': 101, u'salsa black': 166, u'coca': 50, u'pineapple orange': 146, u'chili salsa': 46, u'salsa lettuce': 171, u'and': 2, u'guacamole fajita': 84, u'rice fajita': 157, u'lettuce black': 103, u'brown': 24, u'salsa rice': 175, u'hot pinto': 96, u'steak': 180, u'chili medium': 45, u'veggies': 200, u'mild roasted': 134, u'rice adobo': 154, u'pinto': 147, u'sprite': 179, u'marinated': 112, u'mountain': 137, u'veggies black': 201, u'clementine': 49, u'rice cheese': 156, u'peach': 142, u'hot sour': 99, u'medium lettuce': 120, u'red chili': 152, u'salsa fajita': 168, u'lettuce sour': 109, u'hot': 89, u'guacamole cheese': 83, u'guacamole sour': 88, u'lettuce pinto': 107, u'mild rice': 133, u'orange banana': 141, u'cream': 57, u'hot rice': 97, u'guacamole pinto': 86, u'tomatillo': 184, u'green chili': 78, u'cream guacamole': 61, u'roasted chili': 164, u'cream salsa': 64, u'vegetarian black': 199, u'pomegranate': 149, u'sour': 177, u'diet': 66, u'fajita vegetables': 72, u'grilled steak': 81, u'vegetables guacamole': 193, u'salsa': 165, u'steak sour': 183, u'guacamole rice': 87, u'hot guacamole': 94, u'braised carnitas': 23, u'medium tomatillo': 125, u'hot roasted': 98, u'salsa mild': 173, u'chili hot': 44, u'cheese fajita': 31, u'carnitas': 26, u'marinated and': 113, u'green': 77, u'pineapple': 145, u'fresh': 74, u'veggies lettuce': 204, u'veggies sour': 207}

<3376x210 sparse matrix of type '<type 'numpy.int64'>'
	with 55213 stored elements in Compressed Sparse Row format>

In [21]:
### code here
from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation(n_topics=2)
m = lda.fit_transform(X)

/Users/brianna/anaconda/lib/python2.7/site-packages/sklearn/decomposition/online_lda.py:508: DeprecationWarning: The default value for 'learning_method' will be changed from 'online' to 'batch' in the release 0.20. This warning was introduced in 0.18.
  DeprecationWarning)

In [22]:
for topic_idx, topic in enumerate(lda.components_):
        print("Topic #%d:" % topic_idx)

Topic #0:
Topic #1:

In [23]:
lda.components_

array([[  7.83567215e+00,   7.83568093e+00,   7.83568289e+00,
          7.83567546e+00,   5.89653012e+00,   5.10702232e-01,
          2.08541667e+00,   1.29230476e+00,   1.29243451e+00,
          4.76460745e+02,   9.48969003e+00,   2.03993954e+02,
          2.14925491e+01,   2.35706045e+01,   1.51033146e+01,
          1.65285186e+01,   1.13821100e+02,   7.74287771e+01,
          3.38735762e+02,   3.38738160e+02,   7.71024159e+00,
          2.86276364e+00,   2.08541664e+00,   1.27642944e+00,
          2.59201370e+00,   2.59201607e+00,   1.27642983e+00,
          1.27642827e+00,   5.39168908e+02,   3.65242147e+00,
          6.05129524e+00,   8.33757644e-01,   5.58196099e+01,
          1.26386769e+02,   5.05423010e-01,   2.22618695e+00,
          2.81644503e+02,   5.16903750e-01,   4.63124214e+00,
          1.29258845e+00,   1.29254938e+00,   2.25200121e+00,
          8.37525335e+02,   7.18652043e+02,   5.24585491e-01,
          2.48928088e+00,   7.01684218e-01,   6.05130434e+00,
          6.05130882e+00,   7.58646164e+00,   5.17070422e-01,
          5.17038886e-01,   2.65138422e+02,   5.17060967e-01,
          7.18651940e+02,   3.61015883e+00,   7.15540560e+02,
          4.21377736e+02,   5.04863014e-01,   8.01606279e+01,
          5.05024759e-01,   1.07033883e+02,   1.57361307e+02,
          3.10197907e+00,   4.48091852e+00,   5.16675366e-01,
          1.49096749e+02,   1.36852557e+02,   1.27424980e+01,
          2.93652386e+01,   2.93652500e+01,   3.17746260e+02,
          1.78411468e+02,   1.79210345e+02,   9.47771314e-01,
          9.48565550e-01,   3.58622230e+00,   1.20063335e+00,
          1.12616636e+00,   7.83567650e+00,   4.63123433e+00,
          3.70386324e+00,   2.56040303e+02,   1.03146021e+00,
          5.04594264e-01,   1.05571339e+02,   1.11496269e+00,
          1.33855462e+00,   2.75519471e+00,   8.34766491e-01,
          1.05230271e+00,   7.38319668e-01,   5.14626373e-01,
          1.16764510e+00,   5.03850719e-01,   5.22946781e-01,
          7.40791440e-01,   5.59917869e-01,   1.20244306e+00,
          5.97299670e-01,   7.62777689e-01,   3.29790319e+01,
          4.47181159e+02,   1.32061525e+01,   1.31525198e+00,
          1.13241088e+01,   4.75931053e+01,   1.91095116e+00,
          8.88872874e+00,   2.87675082e+00,   6.05130399e+00,
          6.05130221e+00,   7.83567753e+00,   7.83568128e+00,
          3.80985160e+02,   8.60567086e+01,   1.12913533e+01,
          3.98087673e+00,   1.68338285e+01,   1.20329894e+00,
          6.47998561e+00,   3.38270222e+01,   1.08837285e+02,
          3.37014207e+01,   2.43737206e+00,   7.94464760e+01,
          2.30956753e+01,   5.12724199e-01,   5.37756792e-01,
          8.21859365e-01,   9.05818809e+00,   1.76370227e+01,
          5.07328038e-01,   2.78040752e+00,   5.67912363e+01,
          5.06424320e-01,   7.32045919e-01,   5.16649081e-01,
          5.16649501e-01,   2.32833737e+01,   5.14721902e-01,
          5.10702745e-01,   5.19379871e-01,   5.19384371e-01,
          2.93652270e+01,   5.10702064e-01,   5.10700281e-01,
          1.38065709e+02,   1.38066394e+02,   5.16901659e-01,
          5.16903874e-01,   5.69543743e-01,   5.69256387e-01,
          6.03077004e+02,   3.87044930e+00,   1.99591592e+02,
          1.30568154e+02,   1.50056489e+02,   1.08395396e+01,
          1.46618604e+00,   7.95491711e+01,   2.16178155e+01,
          5.10571537e-01,   7.18651931e+02,   7.18651875e+02,
          7.95354336e+02,   1.86280402e+01,   2.45722297e+01,
          1.53535891e+02,   3.63368213e+00,   8.52030796e-01,
          3.35164100e+00,   3.75619391e+02,   1.78347049e+01,
          1.04471948e+01,   2.41724100e+02,   7.81808778e-01,
          4.21378679e+02,   4.21372585e+02,   8.19473846e+01,
          3.70385572e+00,   1.30873370e+00,   1.30851399e+00,
          1.29258706e+00,   7.16302582e-01,   1.27939369e+00,
          5.69705066e-01,   9.45479839e-01,   2.51774813e+01,
          8.48239269e-01,   1.78411319e+02,   1.70140030e+01,
          1.12161295e+01,   5.17252858e-01,   4.31831039e+00,
          6.10948864e-01,   1.24358213e+02,   1.84782141e+01,
          3.04516283e+00,   3.04516368e+00,   1.79174233e+02,
          1.43826729e+00,   9.82511983e+01,   1.39403905e+01,
          3.09623692e+01,   1.39618009e+00,   7.97367649e+00,
          1.71815283e+01,   5.38386340e+00,   5.38386761e+00],
       [  5.00734591e-01,   5.00721938e-01,   5.00721023e-01,
          5.00730548e-01,   5.08041486e-01,   8.24426084e+00,
          5.00764585e-01,   5.00790249e-01,   5.00661678e-01,
          1.45475816e+03,   1.52516475e+01,   7.80677526e+02,
          1.71193180e+01,   5.41997856e+01,   4.37552202e+01,
          6.58292457e+01,   2.80958746e+02,   1.52964382e+02,
          1.00692557e+03,   1.00692318e+03,   5.07904248e-01,
          5.00710118e-01,   5.00763618e-01,   5.00870247e-01,
          5.03174269e-01,   5.03170509e-01,   5.00870071e-01,
          5.00871380e-01,   1.72623966e+03,   9.84566208e+00,
          5.00602096e-01,   5.76032280e+00,   2.10232975e+02,
          3.27613277e+02,   4.24458074e+00,   1.97789362e+01,
          9.49958955e+02,   4.67766275e+00,   5.00666852e-01,
          5.00508000e-01,   5.00546722e-01,   5.00647263e-01,
          8.12458645e+02,   5.12223926e-01,   3.34468980e+00,
          7.48425406e-01,   9.26011071e+02,   5.00591139e-01,
          5.00588303e-01,   5.07650087e-01,   2.44973581e+01,
          2.44973904e+01,   5.05400804e-01,   2.44973678e+01,
          5.12326462e-01,   5.01176301e-01,   5.12378867e-01,
          1.27457217e+03,   2.40167185e+00,   1.76386110e+02,
          1.04435674e+01,   3.90356848e+02,   4.14170312e+02,
          5.35106988e+00,   5.00598548e-01,   1.37098008e+01,
          5.02659669e-01,   5.02735616e-01,   5.01623857e-01,
          5.02247340e-01,   5.02237509e-01,   7.10766618e+02,
          5.61727727e+02,   1.10163345e+02,   1.44368385e+03,
          1.44368305e+03,   5.07976300e-01,   3.59228192e+02,
          3.59302660e+02,   5.00727753e-01,   5.00677078e-01,
          5.00639109e-01,   7.93271694e+02,   1.13096889e+01,
          3.44629097e+00,   4.40404793e+02,   9.50880938e-01,
          1.45150306e+01,   1.12633265e+01,   2.47500564e+02,
          1.07337980e+02,   1.18787752e+01,   2.12347197e+00,
          1.46655469e+01,   2.51026974e+00,   5.89579559e+00,
          4.31267896e+01,   5.21796491e+01,   5.74857240e-01,
          1.31438951e+00,   5.97318527e+00,   5.08323429e-01,
          1.30442327e+03,   8.99881811e-01,   9.85371595e+00,
          5.95455691e-01,   7.49031336e+01,   5.10447675e+00,
          1.32973136e+01,   7.97455316e+00,   5.00593344e-01,
          5.00596334e-01,   5.00726984e-01,   5.00722816e-01,
          7.56572107e-01,   5.40190482e-01,   5.70877022e-01,
          5.44785781e-01,   5.68526769e-01,   5.74001630e-01,
          5.32149522e-01,   6.35006190e-01,   5.74672121e-01,
          5.75930702e-01,   5.01028175e-01,   2.02900818e+00,
          3.39822871e+02,   6.79139066e+01,   1.94414539e+01,
          6.20003684e+00,   1.67852277e+00,   9.04928757e-01,
          6.14610923e+01,   7.37300999e+01,   5.55739622e-01,
          1.66688343e+00,   4.84809575e+01,   1.37098284e+01,
          1.37098278e+01,   5.08903982e-01,   1.63245338e+01,
          8.24425890e+00,   8.56492380e+00,   8.56491962e+00,
          5.02261070e-01,   8.24425869e+00,   8.24426307e+00,
          4.48491875e+02,   4.48491187e+02,   4.67766670e+00,
          4.67766204e+00,   5.71821362e+02,   5.71821648e+02,
          1.78769651e+03,   5.00519500e-01,   6.77478320e+02,
          4.98263296e+02,   1.88569540e+02,   2.26811142e+01,
          2.01922046e+01,   1.99805235e+02,   8.75918407e+01,
          2.88121697e+00,   5.12335176e-01,   5.12391859e-01,
          2.26508659e+03,   4.90482790e+01,   7.25729866e+01,
          4.59140389e+02,   1.99839124e+01,   2.44614035e+02,
          1.22655582e+01,   7.73313678e-01,   3.15336800e+02,
          2.09704592e+01,   9.46719383e+02,   4.10790447e+01,
          1.27457122e+03,   1.27457732e+03,   5.08518555e-01,
          5.00649241e-01,   5.00433845e-01,   5.00652679e-01,
          5.00508182e-01,   9.31103419e+02,   3.59149433e+02,
          5.71821200e+02,   1.44368614e+03,   5.56956538e+00,
          1.41403634e+03,   5.61727874e+02,   6.95783988e+01,
          3.22792871e+01,   5.77653650e+00,   1.70138541e+01,
          4.04327350e+01,   3.58087284e+02,   2.30497225e+01,
          5.00572310e-01,   5.00570485e-01,   1.10199458e+02,
          6.07144134e-01,   9.84984945e+01,   1.48271464e+00,
          6.80660235e-01,   3.68604094e+00,   5.69871768e-01,
          6.93992454e-01,   5.02566671e-01,   5.02565417e-01]])

In [24]:
X

<3376x210 sparse matrix of type '<type 'numpy.int64'>'
	with 55213 stored elements in Compressed Sparse Row format>

In [31]:
cv.get_feature_names()
pd.DataFrame(X.A, columns=cv.get_feature_names())

,adobo,adobo marinated,and,and grilled,apple,banana,barbacoa,barbacoa pinto,barbacoa vegetarian,beans,...,veggies,veggies black,veggies cheese,veggies guacamole,veggies lettuce,veggies pinto,veggies rice,veggies sour,white,white rice
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3346,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3348,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3349,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3350,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3351,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3352,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3353,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3355,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3356,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3362,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3364,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3365,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3368,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3369,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3371,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3373,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3375,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

### Now train your model! 
+ What model you select is up to you
+ check out sklearn documentation!

model
- regression (continuous output)
- supervised (know correct results for some data)

In [25]:
X

<3376x210 sparse matrix of type '<type 'numpy.int64'>'
	with 55213 stored elements in Compressed Sparse Row format>

In [26]:
y = df['item_price']
y.head(3)

0    2.39
1    3.39
2    3.39
Name: item_price, dtype: float64

### Now test your model!

In [27]:
### code here

In [28]:
### code here