# LCA Hospital

In [1]:
ls

clustering-and-regression.ipynb* em-algorithm-streamlined.ipynb*
clustering-scikit-learn.ipynb*   lca-hospital.ipynb*

In [2]:
import pandas as pd

df = pd.read_csv("../../DS-SF-32/lessons/lesson-14/hospdata.csv")

In [17]:
df.head(2)

,days,sex,age,call,HCAHPS_21,HCAHPS_22,HCAHPS_1,HCAHPS_2,HCAHPS_3,HCAHPS_4never,...,o2,o3,o4,l2,l8,icu3,icu4,l31,edu35,filter_$
0,1,1,36,1,8,3,4,4,4,2,...,5,5,5,,,,,,,0
1,7,1,95,1,11,4,4,,4,1,...,5,5,5,,,5,5,,,0

In [6]:
%matplotlib inline

cols = ['sex', 'age']

df2 = df[cols].copy()

df2.loc[:, 'sex'] = df2['sex'].map({1:1, 2:0})

df2.loc[:, 'laborpain'] = pd.to_numeric(df['l31'], errors='coerce').fillna(0).map({0:0, 1:1, 2:1, 3:1, 4:1, 5:1})

df2.head()

   sex  age  laborpain
0    1   36          0
1    1   95          0
2    1   49          0
3    1   63          0
4    1   60          0

In [7]:
X = df2.as_matrix()

In [8]:
import itertools

import numpy as np
from scipy import linalg
import matplotlib.pyplot as plt
import matplotlib as mpl

from sklearn import mixture

# Generate random sample, two components
np.random.seed(0)

gmm = mixture.GaussianMixture(n_components=2)
gmm.fit(X)

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=2, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [9]:
df2.loc[:, 'lc'] = gmm.predict(X)

In [38]:
df2.groupby("lc").describe()

                   age  laborpain           sex
lc
0  count   2327.000000     2327.0   2327.000000
   mean      32.904168        1.0      0.000000
   std        5.334456        0.0      0.000000
   min       15.000000        1.0      0.000000
   25%       30.000000        1.0      0.000000
   50%       33.000000        1.0      0.000000
   75%       36.000000        1.0      0.000000
   max       55.000000        1.0      0.000000
1  count  13487.000000    13487.0  13487.000000
   mean      62.997553        0.0      0.493809
   std       17.287261        0.0      0.499980
   min        0.000000        0.0      0.000000
   25%       53.000000        0.0      0.000000
   50%       65.000000        0.0      0.000000
   75%       76.000000        0.0      1.000000
   max      105.000000        0.0      1.000000

In [11]:
gmm3 = mixture.GaussianMixture(n_components=3)
gmm3.fit(X)

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=3, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [12]:
df2.loc[:, 'lc3'] = gmm3.predict(X)

In [16]:
df2[['age','laborpain','sex', 'lc3']].groupby("lc3").describe()

                   age  laborpain          sex
lc3
0   count  2327.000000     2327.0  2327.000000
    mean     32.904168        1.0     0.000000
    std       5.334456        0.0     0.000000
    min      15.000000        1.0     0.000000
    25%      30.000000        1.0     0.000000
    50%      33.000000        1.0     0.000000
    75%      36.000000        1.0     0.000000
    max      55.000000        1.0     0.000000
1   count  4935.000000     4935.0  4935.000000
    mean     44.593313        0.0     0.379534
    std      11.830847        0.0     0.485320
    min       0.000000        0.0     0.000000
    25%      36.000000        0.0     0.000000
    50%      48.000000        0.0     0.000000
    75%      54.000000        0.0     1.000000
    max      61.000000        0.0     1.000000
2   count  8552.000000     8552.0  8552.000000
    mean     73.617867        0.0     0.559752
    std       9.070490        0.0     0.496446
    min      58.000000        0.0     0.000000
    25%      66.000000        0.0     0.000000
    50%      73.000000        0.0     1.000000
    75%      80.000000        0.0     1.000000
    max     105.000000        0.0     1.000000